In [5]:
#reading csv file as a dataframe
import pandas as pd
import numpy as np
import sqlite3

In [21]:
connection = sqlite3.connect('data.db')
cursor = connection.cursor()
df=pd.read_sql_query('select * from print_estimator where est_time is not null and est_time > 0',connection)
df.head()

,filename,volume,model_height,model_radius,infill,layer_height,est_time
0,stls/100169.stl,19768.181602,75.423401,9.133881,20.0,0.2,45.0
1,stls/100251.stl,80350.370909,10.001000,50.570504,20.0,0.2,137.0
2,stls/100399.stl,177825.686239,7.500000,86.874372,20.0,0.2,442.0
3,stls/100407.stl,29122.427804,78.000000,10.901633,20.0,0.2,137.0
4,stls/100448.stl,3100.614134,18.350000,7.333831,20.0,0.2,19.0

In [23]:
# df.to_csv("time_estimate.csv")