In [205]:
#reading csv file as a dataframe
import pandas as pd
import numpy as np
df=pd.read_csv("time_estimate.csv",index_col='filename')
import math

In [206]:
df=df.iloc[:,1:]
df.head()
# df['volume']=df['volume'].astype(int)
# df ['model_height']=df ['model_height'].astype(int)
# df['model_radius']=df['model_radius'].astype(int)
# df['infill']=df['infill'].astype(int)
df=df[(df['volume']>1)]
df=df [(df['model_height']>1)]
df=df [(df['model_radius']>1)]

df.head()

,volume,model_height,model_radius,infill,layer_height,est_time
filename,,,,,,
stls/100169.stl,19768.181602,75.423401,9.133881,20.0,0.2,45.0
stls/100251.stl,80350.370909,10.001000,50.570504,20.0,0.2,137.0
stls/100399.stl,177825.686239,7.500000,86.874372,20.0,0.2,442.0
stls/100407.stl,29122.427804,78.000000,10.901633,20.0,0.2,137.0
stls/100448.stl,3100.614134,18.350000,7.333831,20.0,0.2,19.0

In [207]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1:]
print(x.head())
print(x.shape)
print(y.head())
print(y.shape)

                        volume  model_height  model_radius  infill  \
filename
stls/100169.stl   19768.181602     75.423401      9.133881    20.0
stls/100251.stl   80350.370909     10.001000     50.570504    20.0
stls/100399.stl  177825.686239      7.500000     86.874372    20.0
stls/100407.stl   29122.427804     78.000000     10.901633    20.0
stls/100448.stl    3100.614134     18.350000      7.333831    20.0

                 layer_height
filename
stls/100169.stl           0.2
stls/100251.stl           0.2
stls/100399.stl           0.2
stls/100407.stl           0.2
stls/100448.stl           0.2
(9241, 5)
                 est_time
filename
stls/100169.stl      45.0
stls/100251.stl     137.0
stls/100399.stl     442.0
stls/100407.stl     137.0
stls/100448.stl      19.0
(9241, 1)

In [208]:
df.describe()

,volume,model_height,model_radius,infill,layer_height,est_time
count,9.241000e+03,9241.000000,9241.000000,9241.0,9.241000e+03,9241.000000
mean,3.747705e+05,32.278446,20.689971,20.0,2.000000e-01,106.191321
std,1.151569e+07,85.154069,20.108928,0.0,2.775708e-17,168.598341
min,3.670777e-05,0.200000,0.001452,20.0,2.000000e-01,1.000000
25%,4.220171e+03,6.707700,10.175512,20.0,2.000000e-01,20.000000
50%,1.108318e+04,14.039835,15.842059,20.0,2.000000e-01,50.000000
75%,3.312744e+04,35.000000,24.049768,20.0,2.000000e-01,115.000000
max,8.713280e+08,5915.560059,555.129931,20.0,2.000000e-01,1425.000000

In [209]:
from sklearn.model_selection import train_test_split,cross_val_score
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)
x

,volume,model_height,model_radius,infill,layer_height
filename,,,,,
stls/100169.stl,19768.181602,75.423401,9.133881,20.0,0.2
stls/100251.stl,80350.370909,10.001000,50.570504,20.0,0.2
stls/100399.stl,177825.686239,7.500000,86.874372,20.0,0.2
stls/100407.stl,29122.427804,78.000000,10.901633,20.0,0.2
stls/100448.stl,3100.614134,18.350000,7.333831,20.0,0.2
...,...,...,...,...,...
stls/102762.stl,2045.383773,15.208300,6.542928,20.0,0.2
stls/102780.stl,2013.321378,15.098400,6.515026,20.0,0.2
stls/102844.stl,87168.909491,238.452438,10.787107,20.0,0.2
stls/102851.stl,4373.594078,2.000000,26.383311,20.0,0.2
stls/102954.stl,73980.258946,135.300003,13.192712,20.0,0.2

In [210]:
# from sklearn.neural_network import MLPClassifier
# clf=MLPClassifier(solver='adam',alpha=1e-6,hidden_layer_sizes=(20,20),random_state=1,max_iter=1500)
# clf.fit(x_train,y_train)
# y_predicted=clf.predict(x_test)
# y_predicted

In [211]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(random_state=21)
model.fit(x_train,y_train)
y_predicted=model.predict(x_test)
y_predicted

array([ 32.62594893, 112.23719423,   8.27283504, ...,  32.62594893,
        43.38292818,  37.25414783])

In [212]:
for i in range(0,50):
    print(y_test['est_time'][i], y_predicted[i])

36.0 32.62594892712039
136.0 112.23719423271427
1.0 8.272835041345285
29.0 32.62594892712039
22.0 28.072674766106065
84.0 61.76747261834143
31.0 40.03083163656903
110.0 104.69508987535
319.0 159.43980410803334
3.0 8.272835041345285
10.0 14.544978037422391
228.0 202.9904865072326
50.0 47.46996257346982
844.0 711.6738266321116
1.0 8.272835041345285
728.0 351.1167891609972
48.0 87.17933430154366
20.0 28.072674766106065
23.0 23.087210852054742
42.0 47.46996257346982
88.0 65.08562497839954
15.0 13.07552507981646
18.0 22.486781561306227
78.0 89.32391508393863
50.0 88.65924988776571
344.0 150.83478617666253
34.0 32.62594892712039
74.0 57.22122322166256
436.0 286.2520821561201
136.0 105.02472137117086
18.0 19.524349959442905
19.0 56.89966883696996
461.0 292.79713272250746
25.0 32.62594892712039
86.0 65.08562497839954
19.0 32.62594892712039
30.0 36.5082008659263
99.0 63.28389314583729
41.0 52.37476519262757
46.0 40.9654682256148
2.0 8.272835041345285
36.0 47.46996257346982
21.0 15.706878368241942
128.0 102.66729486253244
65.0 123.41447476744592
190.0 309.596218607486
689.0 401.0161037418086
3.0 8.272835041345285
193.0 286.19098346904576
17.0 32.62594892712039

In [213]:
y_predicted=y_predicted.reshape(-1,1)
y_predicted.shape

(1849, 1)

In [214]:
# import warnings
# warnings.filterwarnings('ignore')

# from sklearn.metrics import accuracy_score
# from sklearn.metrics import log_loss
# print('accuracy : ', accuracy_score(y_test,y_predicted))
# # print('log loss :',log_loss(y_test,clf.predict_proba(x_test)))
# print('cross val score :',cross_val_score(clf, x_test, y_test, cv=5).mean())

In [215]:
from sklearn.metrics import mean_squared_error
math.sqrt(mean_squared_error(y_test, y_predicted))

81.31210527565743