In [228]:
#reading csv file as a dataframe
import pandas as pd
import numpy as np
df=pd.read_csv("time_estimate.csv",index_col='filename')
import math

In [229]:
df=df.iloc[:,1:]
df.head()
# df['volume']=df['volume'].astype(int)
# df ['model_height']=df ['model_height'].astype(int)
# df['model_radius']=df['model_radius'].astype(int)
# df['infill']=df['infill'].astype(int)
df=df[(df['volume']>1)]
df=df [(df['model_height']>1)]
df=df [(df['model_radius']>1)]

df.head()

,volume,model_height,model_radius,infill,layer_height,est_time
filename,,,,,,
stls/100169.stl,19768.181602,75.423401,9.133881,20.0,0.2,45.0
stls/100251.stl,80350.370909,10.001000,50.570504,20.0,0.2,137.0
stls/100399.stl,177825.686239,7.500000,86.874372,20.0,0.2,442.0
stls/100407.stl,29122.427804,78.000000,10.901633,20.0,0.2,137.0
stls/100448.stl,3100.614134,18.350000,7.333831,20.0,0.2,19.0

In [230]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1:]
print(x.head())
print(x.shape)
print(y.head())
print(y.shape)

                        volume  model_height  model_radius  infill  \
filename
stls/100169.stl   19768.181602     75.423401      9.133881    20.0
stls/100251.stl   80350.370909     10.001000     50.570504    20.0
stls/100399.stl  177825.686239      7.500000     86.874372    20.0
stls/100407.stl   29122.427804     78.000000     10.901633    20.0
stls/100448.stl    3100.614134     18.350000      7.333831    20.0

                 layer_height
filename
stls/100169.stl           0.2
stls/100251.stl           0.2
stls/100399.stl           0.2
stls/100407.stl           0.2
stls/100448.stl           0.2
(9122, 5)
                 est_time
filename
stls/100169.stl      45.0
stls/100251.stl     137.0
stls/100399.stl     442.0
stls/100407.stl     137.0
stls/100448.stl      19.0
(9122, 1)

In [231]:
df.describe()

,volume,model_height,model_radius,infill,layer_height,est_time
count,9.122000e+03,9122.000000,9122.000000,9122.0,9.122000e+03,9122.000000
mean,3.796252e+05,31.987821,20.645381,20.0,2.000000e-01,107.295878
std,1.159049e+07,59.425126,20.117675,0.0,2.775710e-17,169.140284
min,1.905934e+01,1.001000,1.008696,20.0,2.000000e-01,1.000000
25%,4.409675e+03,7.000000,10.188436,20.0,2.000000e-01,20.000000
50%,1.137637e+04,14.891170,15.809018,20.0,2.000000e-01,50.000000
75%,3.363327e+04,35.000000,23.932518,20.0,2.000000e-01,116.000000
max,8.713280e+08,2019.727417,555.129931,20.0,2.000000e-01,1425.000000

In [232]:
from sklearn.model_selection import train_test_split,cross_val_score
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)
x

,volume,model_height,model_radius,infill,layer_height
filename,,,,,
stls/100169.stl,19768.181602,75.423401,9.133881,20.0,0.2
stls/100251.stl,80350.370909,10.001000,50.570504,20.0,0.2
stls/100399.stl,177825.686239,7.500000,86.874372,20.0,0.2
stls/100407.stl,29122.427804,78.000000,10.901633,20.0,0.2
stls/100448.stl,3100.614134,18.350000,7.333831,20.0,0.2
...,...,...,...,...,...
stls/102762.stl,2045.383773,15.208300,6.542928,20.0,0.2
stls/102780.stl,2013.321378,15.098400,6.515026,20.0,0.2
stls/102844.stl,87168.909491,238.452438,10.787107,20.0,0.2
stls/102851.stl,4373.594078,2.000000,26.383311,20.0,0.2
stls/102954.stl,73980.258946,135.300003,13.192712,20.0,0.2

In [233]:
# from sklearn.neural_network import MLPClassifier
# clf=MLPClassifier(solver='adam',alpha=1e-6,hidden_layer_sizes=(20,20),random_state=1,max_iter=1500)
# clf.fit(x_train,y_train)
# y_predicted=clf.predict(x_test)
# y_predicted

In [234]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(random_state=21,alpha=.1)
model.fit(x_train,y_train)
y_predicted=model.predict(x_test)
y_predicted

array([ 68.0155063 ,  55.20706568,  46.75427204, ..., 766.10888208,
        43.33527207,  63.24421274])

In [235]:
for i in range(0,50):
    print(y_test['est_time'][i], y_predicted[i])

87.0 68.01550629865376
45.0 55.20706568398892
54.0 46.75427204158289
12.0 12.718457439078067
10.0 11.664171638707243
223.0 106.01992201246446
108.0 92.84832053863751
27.0 32.83022227493449
123.0 103.79328621776811
53.0 65.28805595804732
170.0 103.55492436706824
42.0 32.83022227493449
2.0 7.914095120720703
32.0 61.771437576491984
28.0 35.348030778107415
33.0 34.829067912087154
97.0 256.3033649019552
130.0 85.6373235159152
498.0 431.7841176973241
13.0 13.030596364501774
174.0 132.8272624157477
96.0 85.6373235159152
42.0 38.771717874438025
61.0 61.771437576491984
157.0 200.5109017759632
7.0 9.41009968941391
316.0 251.77435593560043
7.0 10.951808652793654
102.0 61.771437576491984
165.0 221.70704456220278
53.0 51.596020219182115
90.0 116.09799888194176
25.0 67.4965434326335
6.0 10.951808652793654
132.0 106.01992201246446
70.0 61.771437576491984
29.0 33.10825673529846
186.0 319.6702713669645
348.0 351.10845030241506
51.0 49.56129736308982
7.0 10.452111515376966
22.0 20.526140343128077
24.0 22.630449807659595
302.0 359.7865966051788
47.0 34.11670492617357
46.0 40.48878894855121
98.0 87.28718292968385
74.0 91.43994623588318
79.0 156.78345208127269
34.0 38.771717874438025

In [236]:
y_predicted=y_predicted.reshape(-1,1)
y_predicted.shape

(1825, 1)

In [237]:
# import warnings
# warnings.filterwarnings('ignore')

# from sklearn.metrics import accuracy_score
# from sklearn.metrics import log_loss
# print('accuracy : ', accuracy_score(y_test,y_predicted))
# # print('log loss :',log_loss(y_test,clf.predict_proba(x_test)))
# print('cross val score :',cross_val_score(clf, x_test, y_test, cv=5).mean())

In [238]:
from sklearn.metrics import mean_squared_error
math.sqrt(mean_squared_error(y_test, y_predicted))

82.01359284675407